* {
  text-decoration: none;
}

.text-primary {
  color: #1f2b43 !important;
}

.primary {
  color: #1f2b43 !important;
}

.btn-primary {
  background-color: #1f2b43 !important;
  border: #1f2b43 !important;
}

.topo {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.transp {
  z-index: 1;
}

.video-container {
  position: absolute;
  top: -5;
  left: 0;
  width: 100%;
}

a:hover {
  color: white;
  text-decoration: none;
}

ul li a {
  color: white;
  margin-right: 9px;
  font-size: 18px;
}

select {
  background-color: transparent;
  color: white;
  border: solid #474d50 1px;
}
option {
  color: black;
}

.select {
  background-color: transparent;
  color: white;
  border: solid #474d50 1px;
}

button {
  background-color: transparent;
  color: white;
  border: none;
}

.video-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.card-img-top {
  width: 100%;
  height: 230px;
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media (min-width: 768px) {
  .vendasCarousel-inner .carousel-item-right.active,
  .vendasCarousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }

  .vendasCarousel-inner .carousel-item-left.active,
  .vendasCarousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.vendasCarousel-inner .carousel-item-right,
.vendasCarousel-inner .carousel-item-left {
  transform: translateX(0);
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer_area .col-sm-6 {
  margin-bottom: 30px;
}
.footer_area .footer_inner {
  margin-bottom: -30px;
}
.footer-bottom {
  text-align: center;
}
.footer-bottom .footer-social {
  text-align: center;
  margin-top: 15px;
}
.footer-area {
  padding: 70px 0px;
}
.footer_area .col-sm-6 {
  margin-bottom: 0px;
}
.footer_area .single-footer-widget {
  text-align: center;
}
.footer_area .single-footer-widget .social_widget {
  text-align: center !important;
  margin-top: 25px;
}
.footer_area .col-sm-6 {
  margin-bottom: 0px;
}
.footer_area .single-footer-widget {
  text-align: center;
}
.footer_area .single-footer-widget .social_widget {
  text-align: center !important;
  margin-top: 0px;
}
.footer_area .single-footer-widget .copy_right_text p {
  margin-left: 0;
}
.footer_area {
  background: linear-gradient(to right, #000 0%, #163d54 100%);
  color: #fff !important;
}
footer a {
  text-decoration: none;
  color: #fff !important;
}
.single-footer-widget {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.single-footer-widget .copy_right_text p {
  margin: 0;
  color: #fff;
  margin-left: -15px;
}
.single-footer-widget .copy_right_text p a {
  color: #1e5779;
}
.single-footer-widget .social_widget {
  text-align: right;
  position: relative;
  margin-right: -15px;
}
.single-footer-widget .social_widget a {
  color: #fff;
  height: 30px;
  width: 30px;
  line-height: 30px;
  background: #1e5779;
  margin-left: 6px;
  display: inline-block;
  text-align: center;
}
.single-footer-widget .social_widget a:hover {
  background: #3fcaff;
}

#myCarousel .list-inline {
  white-space: nowrap;
  overflow-x: auto;
}

#myCarousel .carousel-indicators {
  position: static;
  left: initial;
  width: initial;
  margin-left: initial;
}

#myCarousel .carousel-indicators > li {
  width: initial;
  height: initial;
  text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img {
  opacity: 0.7;
}
