@import url("https://fonts.googleapis.com/css?family=Rajdhani:600,700|Roboto:400,500,500i");

body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #777777; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600; }

  span{
    color: #222;
  }

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

button:focus {
  outline: none;
  box-shadow: none; }

.mt-25 {
  margin-top: 25px; }

.p0 {
  padding-left: 0px;
  padding-right: 0px; }

.white_bg {
  background: #fff !important; }

.section_gap {
  padding: 120px 0; }
  @media (max-width: 767px) {
    .section_gap {
      padding: 10px 0; } }

.section_gap_top {
  padding-top: 70px; }
  @media (max-width: 767px) {
    .section_gap_top {
      padding-top: 60px; } }

.section_gap_bottom {
  padding-bottom: 120px; }
  @media (max-width: 767px) {
    .section_gap_bottom {
      padding-bottom: 10px; } }

img {
  max-width: 100%; }

.main_title {
  text-align: center;
  margin-bottom: 80px; }
  .main_title h2 {
    font-size: 72px;
    color: #3fcaff;
    opacity: 0.1;
    margin: 0;
    line-height: 60px; }
  .main_title h1 {
    color: #222222;
    margin-top: -40px; }
  .main_title p {
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    margin-bottom: 0px;
    max-width: 570px;
    margin: auto; }
  .main_title.white h2 {
    color: #fff; }
  .main_title.white p {
    color: #fff;
    opacity: 0.6; }

.section_content {
  position: relative;
  padding: 70px 0px 73px 70px; }
  .section_content h6 {
    color: #fff;
    font-size: 14px;
    margin-bottom: 12px;
    position: relative;
    letter-spacing: 2px;
    text-transform: uppercase; }
    .section_content h6:after {
      content: "";
      position: absolute;
      background: -webkit-linear-gradient(to right, #fff 0%, #fff 100%);
      background: -moz-linear-gradient(to right, #fff 0%, #fff 100%);
      background: -o-linear-gradient(to right, #fff 0%, #fff 100%);
      background: linear-gradient(to right, #fff 0%, #fff 100%);
      color: #3fcaff;
      height: 1px;
      width: 50px;
      bottom: -10px;
      left: 0; }
  .section_content h1 {
    color: #fff;
    line-height: 45px;
    padding: 30px 0 30px;
    margin-bottom: 0; }
  .section_content p {
    margin-bottom: 0px;
    color: #fff;
    font-weight: 400;
    padding: 0 40px 40px 0; }

 .about2_inner .nav.nav-tabs li a.active, .about2_inner .nav.nav-tabs li a:hover {
  background: -webkit-linear-gradient(90deg, #fff 0%, #fff 100%);
  background: -moz-linear-gradient(90deg, #fff 0%, #fff 100%);
  background: -o-linear-gradient(90deg, #fff 0%, #fff 100%);
  background: linear-gradient(90deg, #fff 0%, #fff 100%); }

.gradient_btn {
  display: inline-block;
  color: #fff;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 46px;
  outline: none !important;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border: double 2px transparent;
  border-radius: 10px;
  background-image: linear-gradient(#fff, #fff), radial-gradient(circle at top left, #fff, #fff);
  background-image: -webkit-linear-gradient(#fff, #fff), -webkit-radial-gradient(circle at top left, #fff, #fff);
  background-image: -moz-linear-gradient(#fff, #fff), -moz-radial-gradient(circle at top left, #fff, #fff);
  background-image: -ms-linear-gradient(#fff, #fff), -ms-radial-gradient(circle at top left, #fff, #fff);
  background-image: -o-linear-gradient(#fff, #fff), -o-radial-gradient(circle at top left, #fff, #fff);
  background-origin: border-box;
  background-clip: content-box, border-box; }
  .gradient_btn span {
    padding: 0 60px; }
  .gradient_btn:hover {
    color: #22195e;
    box-shadow: 0px 10px 30px rgba(130, 82, 250, 0.2); }

.primary_btn {
  display: inline-block;
  background: white;
  background-size: 200% auto;
  padding: 0px 35px;
  color: #222222;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 50px;
  border-radius: 5px;
  outline: none !important;
  box-shadow: 0px 10px 30px rgba(163, 255, 177, 0.2);
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-transform: uppercase; }
  .primary_btn:hover {
    background-position: right center;
    color: #22195e; }

.header_area {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #258bc7; }
  .header_area .navbar-brand {
    margin-right: 30px; }
  .header_area .menu_nav {
    width: 100%; }
  .header_area .navbar {
    background: transparent;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    width: 100%; }
    .header_area .navbar .nav .nav-item {
      margin-right: 45px; }
      .header_area .navbar .nav .nav-item .nav-link {
        font: 500 12px/100px "Roboto", sans-serif;
        text-transform: uppercase;
        color: #fff;
        padding: 0px;
        display: inline-block; }
        .header_area .navbar .nav .nav-item .nav-link:after {
          display: none; }
      .header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
        color: #3fcaff; }
      .header_area .navbar .nav .nav-item.submenu {
        position: relative; }
        .header_area .navbar .nav .nav-item.submenu ul {
          border: none;
          padding: 0px;
          border-radius: 0px;
          box-shadow: none;
          margin: 0px;
          background: #fff; }
          @media (min-width: 992px) {
            .header_area .navbar .nav .nav-item.submenu ul {
              position: absolute;
              top: 120%;
              left: 0px;
              min-width: 200px;
              text-align: left;
              opacity: 0;
              transition: all 300ms ease-in;
              visibility: hidden;
              display: block;
              border: none;
              padding: 0px;
              border-radius: 0px;
              box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.4); } }
          .header_area .navbar .nav .nav-item.submenu ul:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #eeeeee transparent transparent transparent;
            position: absolute;
            right: 24px;
            top: 45px;
            z-index: 3;
            opacity: 0;
            transition: all 400ms linear; }
          .header_area .navbar .nav .nav-item.submenu ul .nav-item {
            display: block;
            float: none;
            margin-right: 0px;
            border-bottom: 1px solid #ededed;
            margin-left: 0px;
            transition: all 0.4s linear; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
              line-height: 45px;
              color: #222222;
              padding: 0px 30px;
              transition: all 150ms linear;
              display: block;
              margin-right: 0px; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
              border-bottom: none; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
              background-image: -moz-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
              background-image: -webkit-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
              background-image: -ms-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
              color: #fff; }
        @media (min-width: 992px) {
          .header_area .navbar .nav .nav-item.submenu:hover ul {
            visibility: visible;
            opacity: 1;
            top: 100%; } }
        .header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
          margin-top: 0px; }
      .header_area .navbar .nav .nav-item:last-child {
        margin-right: 0px; }
  .header_area.navbar_fixed .main_menu {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #258bc7;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); }
    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
      line-height: 70px; }
  @media (min-width: 992px) {
    .header_area.white_menu .navbar .navbar-brand img {
      display: none; }
      .header_area.white_menu .navbar .navbar-brand img + img {
        display: inline-block; } }
  @media (max-width: 991px) {
    .header_area.white_menu .navbar .navbar-brand img {
      display: inline-block; }
      .header_area.white_menu .navbar .navbar-brand img + img {
        display: none; } }
  .header_area.white_menu .navbar .nav .nav-item .nav-link {
    color: #fff; }
  .header_area.white_menu.navbar_fixed .main_menu .navbar .navbar-brand img {
    display: inline-block; }
    .header_area.white_menu.navbar_fixed .main_menu .navbar .navbar-brand img + img {
      display: none; }
  .header_area.white_menu.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 70px;
    color: #222222; }
  .header_area .navbar-right .primary_btn {
    min-width: 135px;
    text-transform: uppercase;
    border-radius: 50px;
    line-height: 40px; }

.home_banner_area {
  z-index: 1;
  background: linear-gradient(#4eadf9, #26b4be);
  background-size: cover; }
  .home_banner_area .banner_inner {
    width: 100%; }
    .home_banner_area .banner_inner .home_left_img {
      padding-top: 130px;
      padding-bottom: 80px; }
    .home_banner_area .banner_inner .col-lg-6 {
      vertical-align: middle;
      align-self: center; }
    .home_banner_area .banner_inner .banner_content {
      text-align: left;
      color: #fff;
      margin-left: 70px; }
      .home_banner_area .banner_inner .banner_content h2 {
        margin-top: 0px;
        font-size: 60px;
        font-weight: bold;
        line-height: 72px;
        margin-bottom: 20px; }
      .home_banner_area .banner_inner .banner_content p {
        color: #fff;
        font-size: 16px;
        margin-bottom: 20px; }
      .home_banner_area .banner_inner .banner_content .watch_video {
        margin: 0 30px;
        font-size: 12px;
        text-transform: uppercase; }


.about_us_area {
  padding-bottom: 120px; }
.frequently_area {
  padding: 0px 0; }

  .mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
  color: #777777; }

.about_us_area {
  position: relative; }

.about_content {
  position: relative; }
  .about_content:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 89%;
    top: 0;
    left: 0;
    background: linear-gradient(#4eadf9, #26b4be) }

.about2_area {
  background-color: #46aeee;}
  .about2_area.made_white {
    background: #fff; }

.about2_inner .nav.nav-tabs {
  border: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }
  .about2_inner .nav.nav-tabs .nav-item {
    margin-bottom: 25px !important; }
  .about2_inner .nav.nav-tabs li {
    flex: 0 0 33%;
    max-width: 33%;
    padding: 0px 15px; }
    .about2_inner .nav.nav-tabs li a {
      position: relative;
      padding: 0px;
      border: 0px;
      border-radius: 0;
      text-align: center;
      height: 50px;
      line-height: 50px;
      font-size: 18px;
      font-family: "Rajdhani", sans-serif;
      font-weight: 600;
      color: #fff; }
      .about2_inner .nav.nav-tabs li a:after {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        content: "";
        border: 2px solid transparent;
        border-image: -webkit-linear-gradient(90deg, #fff, #fff);
        border-image: -moz-linear-gradient(90deg, #fff, #fff);
        border-image: -o-linear-gradient(90deg, #fff, #fff);
        border-image: linear-gradient(90deg, #fff, #fff);
        border-image-slice: 1; }
      .about2_inner .nav.nav-tabs li a.active, .about2_inner .nav.nav-tabs li a:hover {
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
        color: #000000; }
.about2_inner .tab-content .tab-pane {
  border: none; }

.about2_text .chart_img {
  position: relative;
  z-index: 999; }
  .about2_text .chart_img img {
    height: 100% !important;
    z-index: 999; }
  .about2_text .chart_img:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 20%;
    top: 0;
    right: -40px;
    background: #149aeceb;
    z-index: -1; }
.about2_text .section_content {
  background: -webkit-linear-gradient(to right, #149aeceb 0%, #149aeceb 100%);
  background: -moz-linear-gradient(to right, #149aeceb 0%, #149aeceb 100%);
  background: -o-linear-gradient(to right, #149aeceb 0%, #149aeceb 100%);
  background: linear-gradient(to right, #149aeceb 0%, #149aeceb 100%); }

.pricing_area {
  position: relative;
  padding: 120px 0 80px; }

.pricing_item {
  background: -webkit-linear-gradient(to right, #149aeceb 0%, #149aeceb 100%);
  background: -moz-linear-gradient(to right, #149aeceb 0%, #149aeceb 100%);
  background: -ms-linear-gradient(to right, #149aeceb 0%, #149aeceb 100%);
  background: -o-linear-gradient(to right, #149aeceb 0%, #149aeceb 100%);
  background: linear-gradient(to right, #149aeceb 0%, #149aeceb 100%);
  text-align: center;
  margin-bottom: 10px; }
  .pricing_item h3.p_title {
    font-size: 18px;
    color: #fff;
    padding: 35px 30px 25px;
    margin: 0; }
  .pricing_item h1.p_price {
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding: 30px;
    background: #46aded; }
  .pricing_item ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding: 35px 50px 18px; }
    .pricing_item ul li {
      color: #ddd;
      font-weight: 400;
      padding: 14px 0;
      border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
      font-family: "Roboto", sans-serif; }
      .pricing_item ul li:nth-last-child(1) {
        border-bottom: transparent; }
  .pricing_item .p_btn {
    padding-bottom: 50px; }
    .pricing_item .p_btn .gradient_btn {
      position: relative; }
      .pricing_item .p_btn .gradient_btn span {
        position: relative;
        z-index: 2; }
      .pricing_item .p_btn .gradient_btn:after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0;
        bottom: 0; }
  .pricing_item.active .p_btn .gradient_btn, .pricing_item:hover .p_btn .gradient_btn {
    color: #22195e;
    box-shadow: 0px 10px 30px rgba(130, 82, 250, 0.2);
    border: 2px solid transparent; }
    .pricing_item.active .p_btn .gradient_btn:after, .pricing_item:hover .p_btn .gradient_btn:after {
      border-radius: 5px;
      background: -webkit-linear-gradient(to right, #fff 0%, #fff 100%);
      background: -moz-linear-gradient(to right, #fff 0%, #fff 100%);
      background: -o-linear-gradient(to right, #fff 0%, #fff 100%);
      background: linear-gradient(to right, #fff 0%, #fff 100%); }

.frequently_area {
  position: relative; }
  .frequently_area .main_title {
    margin-bottom: 40px; }
    .frequently_area .main_title h1 {
      color: #22195e; }

@media (max-width: 1619px) {
  .header_area .navbar .search {
    margin-left: 40px; }

@media (max-width: 1199px) {
  .header_area .navbar .nav .nav-item {
    margin-right: 28px; }

  .home_banner_area .banner_inner {
    padding: 100px 0px; }

  .header_area .navbar .primary_btn {
    margin-left: 40px; }

  .home_banner_area .banner_inner .banner_content h2 br {
    display: none;
    font-size: 36px; }

  .home_banner_area .banner_inner .banner_content h2 {
    font-size: 36px;
    line-height: 45px; } }
@media (max-width: 991px) {
  .navbar-toggler {
    border: none;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    margin-top: 27px;
    margin-bottom: 23px; }

  .header_area .navbar {
    background: #258bc7; }

  .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
    opacity: 1; }

  .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
    opacity: 0; }

  .navbar-toggler[aria-expanded="true"] span:first-child {
    transform: rotate(-45deg);
    position: relative;
    top: 7.5px; }

  .navbar-toggler[aria-expanded="true"] span:last-child {
    transform: rotate(45deg);
    bottom: 6px;
    position: relative; }

  .navbar-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    margin: auto;
    margin-bottom: 4px;
    transition: all 400ms linear;
    cursor: pointer; }

  .navbar .container {
    padding-left: 15px;
    padding-right: 15px; }

  .nav {
    padding: 0px 0px; }

  .header_area + section, .header_area + row, .header_area + div {
    margin-top: 117px; }

  .header_top .nav {
    padding: 0px; }

  .header_area .navbar .nav .nav-item .nav-link {
    line-height: 40px;
    margin-right: 0px;
    display: block;
    border-bottom: 1px solid #ededed33;
    border-radius: 0px; }

  .header_area .navbar .search {
    margin-left: 0px; }

  .header_area .navbar-collapse {
    max-height: 340px;
    overflow-y: scroll; }

  .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
    padding: 0px 15px; }

  .header_area .navbar .nav .nav-item {
    margin-right: 0px; }

  .header_area + section, .header_area + row, .header_area + div {
    margin-top: 71px; }

  .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 40px; }

  .header_area.white_menu.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 40px; }

  .header_area.white_menu .navbar .nav .nav-item .nav-link {
    color: #222; }

  .home_banner_area .donation_inner {
    margin-bottom: -30px; }

  .home_banner_area .dontation_item {
    max-width: 350px;
    margin: auto; }

  .footer_area .col-sm-6 {
    margin-bottom: 30px; }

  .footer_area .footer_inner {
    margin-bottom: -30px; }

  .home_banner_area .banner_inner .home_left_img {
    display: none; }

  .header_area .navbar .primary_btn {
    display: none; }

  .home_banner_area .banner_inner {
    padding: 70px 0px 100px 0px; }

  .left_side_text {
    margin-bottom: 50px; }

  .price_item {
    max-width: 360px;
    margin: 0px auto 30px; }

  .price_inner {
    margin-bottom: -30px; } }
@media (max-width: 767px) {
  .home_banner_area {
    min-height: 500px; }

  .home_banner_area .banner_inner {
    min-height: 500px; }

  .home_banner_area .banner_inner .banner_content {
    margin-top: 0px; }

  .footer-bottom {
    text-align: center; }

  .footer-bottom .footer-social {
    text-align: center;
    margin-top: 15px; }

  .made_life_inner .nav.nav-tabs li {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 15px; }

  .made_life_inner .nav.nav-tabs {
    margin-bottom: -15px; }

  .made_life_area.made_white .left_side_text {
    margin-bottom: 0px;
    margin-top: 30px; } }
@media (max-width: 575px) {
  .header_area + section, .header_area + row, .header_area + div {
    margin-top: 71px; }

  .section_gap {
    padding-top: 70px;
    padding-bottom: 70px; }

  .sample-text-area {
    padding: 70px 0 70px 0; }

  .footer-area {
    padding: 70px 0px; }

  .pad_top {
    padding-top: 70px; }

  .pad_btm {
    padding-bottom: 70px; } }
@media (max-width: 480px) {
  .header_area .navbar-collapse {
    max-height: 250px; }

  .home_banner_area .banner_inner .banner_content {
    padding: 30px 0px;
    margin-top: 0px; }

  .home_banner_area .banner_inner .banner_content h3 {
    font-size: 24px; }

  .banner_area .banner_inner .banner_content h2 {
    font-size: 32px; }

  .comments-area .thumb {
    margin-right: 10px; }

  .testi_item .media .d-flex {
    padding-right: 0px; }

  .testi_item .media .d-flex img {
    width: auto;
    margin-bottom: 15px; }

  .testi_item .media {
    display: block; } }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section_content h3 {
    font-size: 32px;
    line-height: 38px; }

  .about_us_area, .about_us_area {
    padding: 100px 0; }
  .section_gap, .section_gap {
    padding: 100px 0; }
  .frequently_area, .frequently_area {
    padding: 100px 0; }

  .section_content {
    padding: 68px 0px 68px 70px; }
    .section_content h1 {
      line-height: 40px;
      padding: 25px 0 25px;
      font-size: 30px; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section_gap {
    padding: 80px 0; }

  .section_gap_top {
    padding-top: 80px; }

  .main_title {
    margin-bottom: 50px; }

  .pricing_area {
    padding: 80px 0 50px; }

  .about_us_area .about_us_image_box {
    display: none; }
  .about_us_area .about_content:before {
    width: 100%; }

  .frequently_area .main_title h2 {
    font-size: 65px;
    line-height: .6; }
  .frequently_area .frequent_inner:after {
    display: none; }

  .hidden-md {
    display: none; }

  .hidden-sm {
    display: none; }

  .about_us_area, .about_us_area {
    padding: 80px 0; }
  .section_gap, .section_gap {
    padding: 80px 0; }
  .frequently_area, .frequently_area {
    padding: 80px 0; } }
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .section_gap {
    padding: 70px 0; }

  .section_gap_top {
    padding-top: 70px; }

  .section_content {
    padding: 50px 10px 50px 50px; }
    .section_content h3 {
      line-height: 40px;
      font-size: 30px;
      padding: 25px 0 25px; }

  .main_title {
    margin-bottom: 40px; }
    .main_title h2 {
      font-size: 60px; }

  .about_us_area .about_us_image_box {
    display: none; }
  .about_us_area .about_content:before {
    width: 100%; }

 .about2_inner .nav.nav-tabs li a {
    height: 45px;
    line-height: 45px;
    font-size: 12px; }

  .gallery_area {
    padding: 70px 0 40px; }

 .pricing_area.section_gap {
    padding: 70px 0 40px; }

  .frequently_area .main_title {
    margin-bottom: 10px; }
    .frequently_area .main_title h2 {
      font-size: 60px;
      line-height: .6; }
  .frequently_area .frequent_inner:after {
    display: none; }

  .footer_area .col-sm-6 {
    margin-bottom: 0px; }
  .footer_area .single-footer-widget {
    text-align: center; }
    .footer_area .single-footer-widget .social_widget {
      text-align: center !important;
      margin-top: 25px; }

  .about_us_area, .about_us_area {
    padding: 70px 0; }
  .section_gap, .section_gap {
    padding: 70px 0; }
  .frequently_area, .frequently_area {
    padding: 70px 0; } }
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .primary_btn {
    line-height: 40px; }

  .section_gap {
    padding: 10px 0; }

  .section_gap_top {
    padding-top: 30px;
    margin: 0 !important }

  .section_content {
    padding: 35px 10px 35px 35px !important; }
    .section_content h1 {
      line-height: 30px;
      font-size: 20px;
      padding: 20px 0 16px; }
    .section_content p {
      padding-bottom: 30px; }

  .main_title {
    margin-bottom: 30px; }
    .main_title h2 {
      font-size: 40px; }

  .home_banner_area .banner_content {
    margin-left: 20px !important; }

  .gallery_area {
    padding: 60px 0 40px; }

  .about_us_area .about_us_image_box {
    display: none; }
  .about_us_area .about_content:before {
    width: 100%; }

 _area {
    padding: 40px 0 20px; }

  .chart_img {
    display: none; }

  .about2_inner .nav.nav-tabs {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center; }
    .about2_inner .nav.nav-tabs li {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0px 12px; }
      .about2_inner .nav.nav-tabs li a {
        height: 40px;
        line-height: 40px;
        font-size: 12px; }

  .frequently_area .main_title {
    margin-bottom: 30px; }
    .frequently_area .main_title h2 {
      font-size: 40px;
      line-height: .6; }
  .frequently_area .frequent_inner:after {
    display: none; }

  .pricing_area.section_gap {
    padding: 40px 0 15px; }

  .footer_area .col-sm-6 {
    margin-bottom: 0px; }
  .footer_area .single-footer-widget {
    text-align: center; }
    .footer_area .single-footer-widget .social_widget {
      text-align: center !important;
      margin-top: 20px; }
    .footer_area .single-footer-widget .copy_right_text p {
      margin-left: 0; }

  .about_us_area, .about_us_area {
    padding: 60px 0; }
  .section_gap, .section_gap {
    padding: 60px 0; }
  .frequently_area, .frequently_area {
    padding: 60px 0; } }

.footer_area {
  background: linear-gradient(to right, #149aeceb 0%, #149aeceb 100%) }
  

.single-footer-widget {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1); }
  .single-footer-widget .copy_right_text p {
    margin: 0;
    color: #fff;
    margin-left: -15px; }
    .single-footer-widget .copy_right_text p a {
      color: #3fcaff; }
  .single-footer-widget .social_widget {
    text-align: right;
    position: relative;
    margin-right: -15px; }
    .single-footer-widget .social_widget a {
      color: #fff;
      height: 30px;
      width: 30px;
      line-height: 30px;
      background: #3fc9ffa4;
      margin-left: 6px;
      display: inline-block;
      text-align: center; }
      .single-footer-widget .social_widget a:hover {
        background: #3fcaff; }
